body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 84, 109);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(231, 84, 109, 0.5);
     color:white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
    
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: rgb(150, 73, 150);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:pink ;

}
button:active{
    background-color: white;
}
.operator-btn{
    background-color: lavender ;
}